# File: gzip.conf.template
# Directory: /deepseek-coder-setup/nginx/templates/

# GZIP Configuration for NGINX

# Enable GZIP compression
gzip on;
gzip_comp_level 6;
gzip_min_length 256;
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_proxied any;
gzip_vary on;
gzip_types
    text/plain
    text/css
    text/javascript
    text/xml
    application/javascript
    application/json
    application/xml
    application/x-javascript
    application/xhtml+xml
    application/rss+xml
    application/atom+xml
    font/opentype
    font/truetype
    font/ttf
    image/svg+xml;

# Disable GZIP for IE6
gzip_disable "MSIE [1-6]\.(?!.*SV1)";